.hero {
  width: calc(100%-40px);
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.hero__banner {
  width: 100%;
  height: auto;
  display: block;
}